<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <script src="login.js"></script>
</head>
<body>
    <div id="heading"><h2>Server Login</h2></div>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <!-- storing ip address that is passed to the base route -->
        <input type="hidden" name="ip" value="<%= constantIP %>" id="ip_value"/>
        <input type="submit" name="submit" value="Login">
    </form>
</body>
</html>
